@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

#hideAll
{
	position: fixed;
	left: 0px; 
	right: 0px; 
	top: 0px; 
	bottom: 0px; 
	background-color: black;
	z-index: 99; /* Higher than anything else in the document */

}
::selection{
	color: #000000;
	background-color: #560dcd;
}



header{
	background-color: #3b0468; /*Header background*/
	width: 100%;
	position: fixed;
	z-index: 999; /*To scroll with header on top. Set to highest value*/
	display:  flex;
	justify-content: space-between; /*seperate values in header. similarly element combine close to eachother*/
	align-items: center;
	padding:  10px 200px; /*Header Spacing from top and left.*/
}

.logo{
	text-decoration: none;
	color: #a285cd;
	font-weight: 900;
	font-size: 1.5em;
	font-family: Source Code Pro,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}


.logo:hover{
	color: #000000;
}


.navigation a{
	color: #a285cd;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 800;
	display: inline-block;
	padding-left: 20px;
	font-family: Source Code Pro,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;

}

.navigation a:hover{
	color: #000000;
}

section{
	padding: 100px 200px;
}

.section h3 span{
	font-family: 'Poppins', sans-serif;
}

.main{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background: url(../images/red.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.main h2{
	color: #8a58db;
	font-size: 1.4em;
	font-weight: 750;

}

.main h2 span{
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #52406e;
	font-size: 2.0em;
	font-weight: 700;
	box-shadow: 0 5px #52406e;
}

.main h3{
	color: #8a58db;
	font-size: 1.4em;
	font-weight: 800;
	letter-spacing: 1px;
	margin-top: 10px;
	margin-bottom: 30px;
}

.main-btn{
	color: #7e2cdb;
	border: 0.5px solid #560dcd;
	box-shadow: 0 0 5px #560dcd;
	text-decoration: none;
	font-size: 1.1em;
	font-weight: 650;
	display: inline-block;
	padding: 15px 35px;
	letter-spacing: 1px;
	border-radius: 10px;
	margin-bottom: 40px;
	width: 100%;
	text-align: center;
}

.social-icons a{
	color: #7e2cdb;
	text-decoration: none;
	font-size: 2.5em;
	font-weight: 1000;
	display: inline-block;
	padding: 15px 35px;
	margin-bottom: 30px;
	transition: 0.1s ease;
	margin-right: 10px;
}


.social-icons a:hover{
	transform: scale(1.1, 1.1);
	box-shadow: 0 0 5px #560dcd;
	border-radius: 10px;

}

.animes{
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: url(../images/mask.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-color: black;
}



.section a{
	align-items: center;
	font-family: Source Code Pro,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
	font-weight: 100;
}





#myBtn {
  display: none;
  position: fixed; /* Fixed/sticky position */
  right: 10%; /* Place the button 30px from the right */
  bottom: 20px; /* Place the button at the bottom of the page */
  width: 50px;
  height: 50px;
  z-index: 999; /* Make sure it does not overlap */
  border-radius: 50%; /* Rounded corners */
  background: #a285cd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

#myBtn:hover {
  	background-color: #78609b;
  	transform: scale(1.02);
}









.right{
	color: black;
	width: 23.33%;
	height: 55px;
	float: right;
	font-size: 1.2em;
	text-align: center;
	padding-top: 12px;
	text-decoration: none;
	font-weight: 600;
	padding-top: 13px;
	font-family: Source Code Pro,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;

}

.left{
	color: black;
	width: 73.33%;
	height: 55px;
	float: left;
	font-size: 1.2em;
	text-align: left;
	padding-top: 12px;
	text-decoration: none;
	/* Padding Left so The Title Takes Bigger Space over Size. */
	padding-left: 40px;
	font-weight: 600;
	padding-top: 13px;
	font-family: Source Code Pro,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}



.yarb{
	background-color: #7652ab;
	width: 32.33%;
	border-radius: 10px;
	margin-top: 13px;
	height: 50px;
}
.yarb:hover{
	background-color: #5c2589;
}


.scroll-down-right{
	color: #8f196d;
	position: absolute;
	right: 1%;
	bottom: 15%;
	font-size: 3rem;
	animation: scroll-down-right 2s infinite;
	display: none;
}

.scroll-text-right{
	color: #8f196d;
	position: absolute;
	right: -0.4%;
	bottom: 23%;
	font-size: 1rem;
	transform: rotate(90deg);
	animation: scroll-text-right 2s infinite;
	display: none;

}

.scroll-down-left{
	color: #8f196d;
	position: absolute;
	left: 1%;
	bottom: 15%;
	font-size: 3rem;
	width: 1%;
	animation: scroll-down-left 2s infinite;
	display: none;

}

.scroll-text-left{
	color: #8f196d;
	position: absolute;
	left: -0.4%;
	bottom: 23%;
	font-size: 1rem;
	transform: rotate(270deg);
	animation: scroll-text-left 2s infinite;
	display: none;

}

.filename{
	color: #ab7bf2;
	width: 73.33%;
	height: 55px;
	float: left;
	font-size: 1.2em;
	text-align: left;
	padding-top: 12px;
	text-decoration: none;
	/* Padding Left so The Title Takes Bigger Space over Size. */
	padding-left: 40px;
	font-weight: 600;
	padding-top: 13px;
	font-family: Source Code Pro,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}
.filesize{
	color: #ab7bf2;
	width: 23.33%;
	height: 55px;
	float: right;
	font-size: 1.2em;
	text-align: center;
	padding-top: 12px;
	text-decoration: none;
	font-weight: 600;
	padding-top: 13px;
	font-family: Source Code Pro,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.infHolder{
	background-color: black;
	width: 32.33%;
	border-radius: 10px;
	transition: 0.1s ease;
	margin-top: 13px;
	height: 50px;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
	margin-top: 5px;
	background-color: #7652ab;
	color: black;
	font-weight: 900;
	font-size: 1.2em;
	font-weight: 600;
	cursor: pointer;
	padding: 14px;
	width: 32.33%;
	border: none;
	text-align: center;
	outline: none;
	border-radius: 15px;
	font-family: Source Code Pro,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}
.collapsible:hover{
	background-color: #3b0468;
}

  
.content {
	margin-top: 10px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	text-align: center;
}


iframe{
	background-color: #3b0468;
	border: 0px solid black;
}

.reveal{
	transform: translateX(250px);
	opacity: 0;
	transition: .7s ease-in;
}
.reveal.active {
	transform: translateX(0px);
	opacity: 1;
}







@keyframes scroll-down-right {
	0% {bottom: 15%;}
	50% {bottom: 19%;}
	100% {bottom: 15%;}
}
@keyframes scroll-text-right {
	0% {bottom: 23%;}
	50% {bottom: 27%;}
	100% {bottom: 23%;}
}
@keyframes scroll-down-left {
	0% {bottom: 15%;}
	50% {bottom: 19%;}
	100% {bottom: 15%;}
}
@keyframes scroll-text-left {
	0% {bottom: 23%;}
	50% {bottom: 27%;}
	100% {bottom: 23%;}
}
.scroll-btn{
	font-size: 1.4rem;
}



@media (max-width: 1023px){

	.reveal{
		transform: translateX(30px);
	}
	.reveal.active{
		transform: translateX(0px);
	}

	iframe{
		margin-top: 2px;
		width: 800px;
	}
	/*   Holders. */
	.yarb{
		width: 140%;
		margin-top: 20px;
		height: 63px;
	}
	.collapsible{
		width: 140%;
		height: 63px;
		font-size: 1.5rem;
		padding-top: 15px;
	}
	.infHolder{
		width: 140%;
		margin-top: 20px;
		height: 63px;
	}
	.left{
		font-size: 1.5rem;
		padding-top: 15px;
	}
	.right{
		font-size: 1.5rem;
		padding-top: 15px;

	}

	/* Logos headers. */
	header{
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 100px;
		width: 115%;
	}
	.logo{
		font-size: 2.4rem;
	}
	.navigation a{
		font-size: 1.7rem;
	}

	/* Main. */
	.main{
		font-size: 1.3rem;
		padding-left: 20%;
	}
	#myBtn{
		height: 80px;
		width: 80px;
		bottom: 100px;
	}

	/* Scroll's Animations */
	@keyframes scroll-down {
		0% {top: 88%;}
		50% {top: 93%;}
		100% {top: 88%;}
	}
	@keyframes scroll-down-text {
		0% {top: 81%;}
		50% {top: 86%;}
		100% {top: 81%;}
	}


	.scroll-down-left{
		font-size: 5rem;
		left: 2%;
		top: 88%;
		animation: scroll-down 2.3s infinite;
		display: block;
	}
	.scroll-text-left{
		font-size: 1.7rem;
		left: -6%;
		top: 81%;
		animation: scroll-down-text 2.3s infinite;
		display: block;
	}

	.scroll-down-right{
		font-size: 5rem;
		right: 2%;
		top: 88%;
		animation: scroll-down 2.3s infinite;
		display: block;
	}
	.scroll-text-right{
		font-size: 1.7rem;
		right: -6.5%;
		top: 81%;
		animation: scroll-down-text 2.3s infinite;
		display: block;

	}
	.scroll-btn{
		font-size: 2rem;
	}


}
@media (min-width: 1023px) and (max-width: 1350px) {
	.yarb{
		width: 90%;
	}
	.infHolder{
		width: 90%;
	}
	.collapsible{
		width: 90%;
	}

	.reveal{
		transform: translateX(100px);
	}
	.reveal.active{
		transform: translateX(0px);
	}
}
@media (min-width: 1350px) and (max-width: 1650px) {
	.yarb{
		width: 70%;
	}
	.infHolder{
		width: 70%;
	}
	.collapsible{
		width: 70%;
	}
}
@media (min-width: 1650px) and (max-width: 1900px){
	.yarb{
		width: 60%;
	}
	.infHolder{
		width: 60%;
	}
	.collapsible{
		width: 60%;
	}
}
@media (min-width: 1900px){
	.yarb{
		width: 40%;
	}
	.infHolder{
		width: 40%;
	}
	.collapsible{
		width: 40%;
	}
}


